/* Estilos para el currículum */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0074D9;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

a {
    color: #0074D9;
    text-decoration: none;
}

/* Agrega más estilos según tus preferencias */


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 600px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
    }
}


img {
    max-width: 20%;
    height: auto;
}
